#p {
    padding-left: 5%;
    padding-top: 7%;
    font-size: 5vw;        
    font-family: 'Merriweather', serif;
}
#p2{
    padding-left: 8%;
    padding-top: 5%;
    font-size: 3vw;
}
a {
    color: black;
}
.card {
    margin: 20% auto;
}





@media (max-width: 480px) {
    #p {
        font-size: 6vw;
        font-family: 'Merriweather', serif;
    }
    #p2 {
        font-size: 4vw;
    }
}
@media (min-width:  720px) {
    #p2 {
        font-size: 30px;
    }
}